<main>
  <div class="column">
    <header>
      <h1>Edit Skill</h1>
    </header>
    <%= render "form", locals: @reason %>
    <%= link_to "Delete Skill", { action: :destroy, id: @skill.id }, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
  </div>
</main>

