<main>
  <div class="column">
    <header>
      <h1>Add new history</h1>
    </header>
    <%= render "form", locals: @history %>
    <%= link_to "Delete History", { action: :destroy, id: @history.id }, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
  </div>
</main>

