<div class="column">
  <% if admin? %>
    <h3><%= link_to "New Skill", new_admin_skill_path %><h3>
  <% end %>
  <% @skills.each_with_index do |skill, index| %>
    <article class="text skill-box">
      <% if admin? %>
        <%= link_to "Edit", edit_admin_skill_path(skill) %>
      <% end %>
      <h2><%= skill.title %></h2>
      <p><%= markdown(skill.text) %></p>
    </article>
    <% unless @skills.length - 1 == index %>
      <hr class="large" />
    <% end %>
  <% end %>
</div>
