<footer>
  <ul>
    <li><%= link_to "Linkedin", "#" %></li>
    <li><%= link_to "Resume", "#" %></li>
    <li><%= link_to "Email", "#" %></li>
    <li><%= link_to "Twitter", "#" %></li>
  </ul>
</footer>
