<footer>
  <ul>
    <li><%= link_to "Linkedin", "https://www.linkedin.com/in/peter-karth-a009733b", target: "_blank" %></li>
    <li><%= link_to "Resume", "http://stackoverflow.com/cv/peterkarth", target: "_blank" %></li>
    <li><%= mail_to "falonofthetower@gmail.com", "Email" %></li>
    <li><%= link_to "Twitter", "https://twitter.com/falonofthetower", target: "_blank" %></li>
  </ul>
</footer>
