<div class="column">
  <% if admin? %>
    <h3><%= link_to "New Reason", new_admin_reason_path %><h3>
  <% end %>
  <% @reasons.each_with_index do |reason, index| %>
     <article class="text reason-box">
        <% if admin? %>
          <%= link_to "Edit", edit_admin_reason_path(reason) %>
        <% end %>
        <h2><%= reason.header %></h2>
        <p><%= markdown(reason.text) %></p>
      </article>
      <% unless @reasons.length - 1 == index %>
        <hr class="large" />
      <% end %>
  <% end %>
</div>
