<main>
  <div class="column">
    <%= bootstrap_form_for [:admin, @project] do |f| %>
      <header>
        <h1>Add new Project</h1>
      </header>
      <fieldset class="form-group">
        <%= f.text_field :title, label: "title" %>
        <%= f.text_area :text, size: "10x15", label: "Project Text" %>
        <%= f.submit "Create Project", class: "btn btn-primary" %>
      </fieldset>
    <% end %>
  </div>
</main>
