<div class="column">
  <figure class="image"><%= image_tag "DoublePLogo.png" %></figure>
  <article class="text">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et eleifend orci, non suscipit mi. Proin porttitor in purus ac malesuada. Donec sit amet malesuada ante. Pellentesque at placerat dui. Aenean auctor porta pharetra. Mauris ut diam suscipit, sagittis ligula ac, interdum nulla. Proin blandit lectus porta placerat hendrerit. In hac habitasse platea dictumst. Phasellus pulvinar euismod augue eu sollicitudin. Proin sit amet nisl sodales, condimentum arcu quis, finibus urna. Integer vitae pulvinar lectus. Ut pulvinar, nunc ac auctor vestibulum, turpis tortor pellentesque lacus, malesuada euismod lacus metus et turpis.

      Mauris ullamcorper, elit sed aliquam tincidunt, turpis ipsum sagittis nunc, ut tristique metus neque finibus metus. Etiam a ex interdum, ultrices felis vel, molestie nulla. Suspendisse sed elementum dolor. Integer id enim in ex fermentum interdum. Pellentesque in augue ac lacus aliquet imperdiet. Quisque malesuada quis lorem sed tincidunt. Aliquam a neque non turpis sollicitudin feugiat ac et nunc. Nulla tortor dui, semper eget lacus eget, varius posuere velit. Sed gravida, diam vel sollicitudin venenatis, nisl enim lobortis lectus, id sollicitudin sapien ipsum et tellus. Fusce hendrerit hendrerit risus ut sollicitudin. Duis a lorem nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

      Nulla ut vehicula metus. Quisque volutpat risus eros, non tempus lorem rhoncus non. Sed sodales magna quis laoreet porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum bibendum nisl ut nisl consequat, tristique mattis ante posuere. Curabitur non mauris ut lorem pretium suscipit. Nam dignissim tincidunt nisl et iaculis. Phasellus sollicitudin leo et sem molestie semper. Quisque in metus purus.
      </p>
  </article>
  <hr />
  <figure class="image"><%= image_tag "DoublePLogo.png" %></figure>
  <article class="text">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et eleifend orci, non suscipit mi. Proin porttitor in purus ac malesuada. Donec sit amet malesuada ante. Pellentesque at placerat dui. Aenean auctor porta pharetra. Mauris ut diam suscipit, sagittis ligula ac, interdum nulla. Proin blandit lectus porta placerat hendrerit. In hac habitasse platea dictumst. Phasellus pulvinar euismod augue eu sollicitudin. Proin sit amet nisl sodales, condimentum arcu quis, finibus urna. Integer vitae pulvinar lectus. Ut pulvinar, nunc ac auctor vestibulum, turpis tortor pellentesque lacus, malesuada euismod lacus metus et turpis.

      Mauris ullamcorper, elit sed aliquam tincidunt, turpis ipsum sagittis nunc, ut tristique metus neque finibus metus. Etiam a ex interdum, ultrices felis vel, molestie nulla. Suspendisse sed elementum dolor. Integer id enim in ex fermentum interdum. Pellentesque in augue ac lacus aliquet imperdiet. Quisque malesuada quis lorem sed tincidunt. Aliquam a neque non turpis sollicitudin feugiat ac et nunc. Nulla tortor dui, semper eget lacus eget, varius posuere velit. Sed gravida, diam vel sollicitudin venenatis, nisl enim lobortis lectus, id sollicitudin sapien ipsum et tellus. Fusce hendrerit hendrerit risus ut sollicitudin. Duis a lorem nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

      Nulla ut vehicula metus. Quisque volutpat risus eros, non tempus lorem rhoncus non. Sed sodales magna quis laoreet porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum bibendum nisl ut nisl consequat, tristique mattis ante posuere. Curabitur non mauris ut lorem pretium suscipit. Nam dignissim tincidunt nisl et iaculis. Phasellus sollicitudin leo et sem molestie semper. Quisque in metus purus.
      </p>
  </article>
</div>
