<div class="column">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 raisedbox">
        <h2 class="why">Why You Should Definitely Hire Me</h2>
        <div id="list">
          <ol>
            <li><p><em>Hard Worker</em>capable of staying on task with minimal to no supervision</p></li>
            <li><p><em>The United States of America</em> is a federal constitutional ...</p></li>
            <li><p><em>The Philippines</em> officially known as the Republic ...</p></li>
            <li><p><em>The United Kingdom</em> of Great Britain and ...</p></li>
            <li><p><em>The Beard</em>My beard is totally epic</p></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
