article > h2
  text-align: left
  color: #00040a
  font-family: 'GlacialIndifferenceRegular'
  font-weight: normal
  font-style: bold

.column
  max-width: 1300px
  margin: 0 auto
  padding: 40px 50px
  border: solid 1px

.navbar-default .navbar-nav > li > a
  color: #f9f7f7

figure img
  max-width: 80%
  padding-bottom: 50px

.image
  width: 200px
  float: left

.text
  white-space: pre-line
  overflow-x: hidden
  font-family: 'GlacialIndifferenceRegular'
  font-weight: normal
  font-style: normal

body
  font: normal 20px "Avenir", Helvetica, Arial, sans-serif
  color: #45494d

hr
  clear: both
  background-color: black
  height: 1px
  border-width: 0
  margin-bottom: 50px

hr.large
  height: 3px
  background-color: #3ACFEF

.project-box
  padding: 20px

@media (max-width: 768px)
  .image
    float: none
